$label-color: white;
$button-bgcolor: pink;
$button-color: white;
$actionbar-bgcolor: rgb(125, 240, 181);

Label {
  color: $label-color;
}

Button {
  background-color: $button-bgcolor;
  color: $button-color;
  padding: 10;
  margin: 10;
  font-size: 20;
  width: 90%;
  border-radius: 5;
}
ActionBar {
  background-color: $actionbar-bgcolor;
}
.large{
  color: red;
  font-size: 30;
}
.counter {
  margin: 10;
  width: 60;
}
